body{
    background-color: #fffbe9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

.container {
  background-color: #f8f1da;
  border: 16px solid #f5c446; 
  border-radius: 8px;
  width: 500px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  text-align: center;
  position: relative;
  color:#2e2e2e
}

h1 {
  color: #2e2e2e;
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: 40px;
}

button {
  background-color: #ff5c5c;
  color: white;
  border: none;
  padding: 12px 30px;
  font-size: 14px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color:  #ff5c5c;
}